
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0px;
  padding: 0px;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  color: rgb(53,48,98);
}
body{
  transition: 1s;
}
.navbar {
  position: sticky;
  top: 0px;
  /* background-color: rgb(192, 73, 73); */
  backdrop-filter: blur(6px);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 5;
  padding-top: 15px;
  /* above 3 line of code is for text not getting selected */
}
.full {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right {
  display: flex;
  align-items: center;
}
.left {
  position: relative;
  left: 25px;
}
.item {
  margin: 0px 50px 0px 0px;
  font-size: 15px;
}
/* .left a {
  color: black;
} */
.item a {
  color: black;
}
.items a {
  color: black;
}
.items {
  margin: 0px 25px;
  padding: 0px 0px 20px;
  font-size: 15px;
}
.rights {
  margin-top: 30px;
}
.btn1 {
  cursor: pointer;
  color: #000000;
}
.dark-mode {
  margin-right: 50px;
}
.font-bold {
  font-weight: 700;
}
.vikash {
  font-size: 28px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px 120px 50px;
}
.myname{
  color: rgb(178, 89, 233);
  text-decoration: underline;
}
.intro-item {
  margin-bottom: 8px;
 align-self: start;
}
.intro-one {
  font-size: 24px;
}
.intro-two {
  font-size: 60px;
}
.intro-three {
  font-size: 20px;
  width: 60vw;
}
.intro-btn{
  margin-top: 20px;
  transition: 0.4s;
}
.intro-btn:hover{
  scale: 1.05;
}
.intro-btn a{
  border-color: transparent;
  font-size: 20px;
  color: white;
  padding: 15px 32px;
  background-color: rgb(24, 134, 174);
}
.skill{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 120px 0px;
}
.skill-head{
  font-size: 48px;
}
.skill-item{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  width: 80vw;
}
.skill-img{
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.skill-item-tech{
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  padding: 20px;
  margin: 10px;
  background-color: rgb(234, 240, 238);
  border-radius: 5px;
  transition: 0.4s;
}
.skill-item-tech:hover{
  transform: translateY(-8px);
  box-shadow: 0px 5px 10px -5px ;/*inset likhenge mtlb ulta hogjayega shadow*/
}
.project{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-item{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}
.project-head{
  font-size: 48px;
  margin-bottom: 30px;
}
button{
  cursor: pointer;
}
.project-img{
  width:320px;
  margin-bottom:10px ;
  transition: 1s;
  border: 2px solid transparent;
}
.project-work{
  padding:16px;
  border: 1px solid rgb(220, 220, 220);
  margin: 10px;
  min-height: 500px;
  border-radius: 10px;
  transition: 0.4s;
}
.project-work:hover{
  transform: scale(1.04);
}
.project-topic{
  font-size: 24px;
  margin-top:6px;
}
.high{
  min-height:500px;
}
.project-desc{
  max-width: 320px;
  padding: 14px 0px;
  margin-bottom: 20px;
  font-size: 16px;

}
.project-tech{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.tech-head{
  font-size: 16px;
}
.stack{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}
.stack p{
  margin: 0px 20px 0px 0px;
  font-weight: 700;
}
.tech{
  border:1px solid rgb(218, 218, 218);
  border-radius: 2px;
  font-size: 12px;
  padding: 5px;
}
.project-link{
  margin-top: 40px;
  display: flex;
}
.view-btn , .code-btn{
  border: 2px solid transparent;
  color: white;
  height: 40px;
  width: 150px;
  padding: 8px 0px;
  font-size: 16px;
}
.view-btn{
  background-color: rgb(255, 196, 3);
  border-radius: 10px;
  margin-right: 15px;
}
.code-btn{
  background-color: rgb(66, 89, 180);

  border-radius: 10px;

}
.html{
  color:  rgb(227,76,38);
}
.css{
  color: rgb(38,77,228);
}
.js{
 color: rgb(190, 166, 8);
}
.contact{
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-head{
  font-size: 30px;
  margin-bottom:20px;
}
.contact-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact-img{
  width: 60px;
}
.contact-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.4s;
}
.contact-link:hover{
  transform: translateY(-8px);
  box-shadow: 0px 5px 10px -5px ;
}
.contact-link{
  margin: 30px 30px;
  height: 170px;
  width: 300px;
  background-color: rgb(234, 240, 238);
}
.contact-name{
  color: rgb(53,48,98);
  margin-top: 10px;
  font-size: 24px;
}
.contact{
  margin-bottom: 40px;
}
@media screen and (max-width: 800px) {
  .item {
    display: none;
  }
  .small {
    display: none;
  }
  .right {
    margin-right: 25px;
  }
}
@media screen and (min-width: 800px) {
  .btn1 {
    display: none;
  }
  .items {
    display: none;
  }
}

@media screen and (max-width: 740px) {
  .intro-two {
    font-size: 36px;
  }
  .intro{
    margin-top: 60px;
    margin-left: 30px;
  }
  .intro-three{
    width: 70vw;
  }
}
